@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  transition: all ease 0.1s;
}

.text-outline {
  text-shadow: 0 0px 1px #00ffff, 0 0 2px #00ffff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #00000034;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 255, 0.177); 
  border-radius: 10px; 
  cursor: grab;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 255, 255, 0.177) #00000034;
}

*::-moz-scrollbar {
  width: 5px;
  height: 5px;
}

*::-moz-scrollbar-track {
  background: #00000034;
  border-radius: 10px;
}

*::-moz-scrollbar-thumb {
  background: rgba(0, 255, 255, 0.177); 
  border-radius: 10px; 
  cursor: grab;
}
